.header {
  color: #222222;
  font-family: "Montserrat", sans-serif;

  h1 {
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
    text-transform: capitalize;

    margin: 0;
    margin-bottom: 4px;
    padding: 0;
  }

  h2 {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;

    margin: 0;
    padding: 0;
  }
}
