table {
  width: 100%;
}

thead {
  tr {
    padding: 0 15px;
    margin-bottom: 10px;

    background-color: transparent;
    border-left-color: transparent;

    button {
      position: relative;

      color: #999999;
      font-family: "Roboto", sans-serif;
      font-size: 11px;
      line-height: 13px;
      font-weight: 500;
      text-transform: uppercase;

      padding: 0;
      border: 0;
      background-color: transparent;

      cursor: pointer;

      &::after {
        content: "";

        position: absolute;
        right: -15px;
        top: 50%;

        display: none;
        width: 7px;
        height: 4px;

        background-image: url("Sort.svg");
        background-repeat: no-repeat;
        transform: translateY(-50%);
      }

      &.ASC::after {
        display: block;
      }

      &.DESC::after {
        display: block;

        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .action-column {
    font-size: 0;
  }
}

tr {
  text-align: left;

  display: flex;
  align-items: center;

  border-radius: 3px;
  border-left: 4px solid;
}

.name-column {
  width: 390px;
  margin-right: 25px;
}

.type-column {
  width: 100px;
  margin-right: 25px;
}

.status-column {
  width: 62px;
  margin-right: 54px;
}

.site-column {
  width: 140px;
  margin-right: 32px;
}

.action-column {
  width: 95px;
}
