.table-row {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;

  margin-bottom: 5px;
  padding: 20px 12px 20px 15px;

  background-color: #FFFFFF;

  cursor: pointer;

  .name-column {
    color: #474747;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
  }

  .type-column {
    color: #5C5C5C;
  }

  .status-column {
    font-weight: 500;

    &--online {
      color: #1BDA9D;
    }

    &--paused {
      color: #FF8346;
    }

    &--stopped {
      color: #FE4848;
    }

    &--draft {
      color:
        #5C5C5C;
    }
  }

  .site-column {
    color: #5C5C5C;
  }

  a {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    text-align: center;

    display: block;
    padding: 7px;

    border-radius: 10px;
  }

  .action-column--results a {
    background-color: #2EE5AC;
  }

  .action-column--finalize a {
    background-color: #7D7D7D;
  }

  &--market {
    border-left-color: #E14165;
  }

  &--delivery {
    border-left-color: #C2C2FF;
  }

  &--games {
    border-left-color: #8686FF;
  }

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
}
